cenbii-trdm044-3.0/schematron/UBL/BIIRULES-UBL-T44.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T44 -->
<!-- Timestamp: 2015-11-26 09:52:05 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T44" id="UBL-T44">
  <param name="BII3-T44-R001" value="(cbc:CustomizationID)"/>
  <param name="BII3-T44-R002" value="(cbc:ProfileID)"/>
  <param name="BII3-T44-R003" value="(cbc:ID)"/>
  <param name="BII3-T44-R004" value="(cbc:ContractFolderID)"/>
  <param name="BII3-T44-R005" value="(cbc:IssueDate)"/>
  <param name="BII3-T44-R006" value="(cac:TendererParty)"/>
  <param name="BII3-T44-R007" value="(cac:TenderedProject)"/>
  <param name="BII3-T44-R008" value="(cac:TenderedProject/cac:LegalMonetaryTotal/cbc:PayableAmount)"/>
  <param name="BII3-T44-R009" value="@listID='ISO3166-1:Alpha2'"/>
  <param name="BII3-T44-R010" value="(cbc:ID)"/>
  <param name="BII3-T44-R011" value="(cbc:TenderTypeCode/@listID='TENDER_TYPE_CODE')"/>
  <param name="Tender" value="/ubl:Tender"/>
  <param name="Lot" value="//cac:ProcurementProjectLot"/>
  <param name="Country" value="//cac:Country/cbc:IdentificationCode"/>
</pattern>
